# node_modules
# dist
# .DS_Store
# server/public
# vite.config.ts.*
# *.tar.gz
# .env
# .env.*
# backend/.env
# backend/.env.*
# !.env.example
# android/.gradle/
# android/**/build/
# android/local.properties